<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>708370716084-jhkj38s2tf9ueeroienboalqq6gkt6tt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708370716084-jhkj38s2tf9ueeroienboalqq6gkt6tt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>708370716084-ken8ba4ksjo0u1ghn2ah4cafgcred0d5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBCbD97pdOhkWv1gPr3VcZ_9jzfgME7ElQ</string>
	<key>GCM_SENDER_ID</key>
	<string>708370716084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.Simi</string>
	<key>PROJECT_ID</key>
	<string>simi-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>simi-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708370716084:ios:241ce8bca03d9607</string>
	<key>DATABASE_URL</key>
	<string>https://simi-chat.firebaseio.com</string>
</dict>
</plist>